rect {
  fill-opacity: 0.8;
}

.bg {
  fill-opacity: 0.3;
}

// rect:not(.bg):hover {
//   fill-opacity: 1;
// }

.plan:hover rect {
  fill-opacity: 1;
}

.axis {
  font-size: smaller;
}

// * {
//   border: 1px solid red;
// }

.column-row {
  white-space:nowrap;
}

.column-row span {
  display:inline-block;
}
