
a.task-collapse,
a.task-expand {
  display: inline-block;
  border: 0.1em solid rgba(0, 0, 0, 0.63);
  border-radius: 0.12em;
  box-sizing: border-box;
  color: #000000;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.63);
  width: 20px
}

a.task-collapse:hover,
a.task-expand:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

a.task-collapse::after {
  content: "-";
}

a.task-expand::after {
  content: "+";
}
